<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name=".reports"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".FullView"
            android:exported="false" />
        <activity
            android:name=".Gallery"
            android:exported="false" />
        <activity
            android:name=".Browsebmw"
            android:exported="false" />
        <activity
            android:name=".Browsess"
            android:exported="false" />
        <activity
            android:name=".Browsety"
            android:exported="false" />
        <activity
            android:name=".SSmap"
            android:exported="false" />
        <activity
            android:name=".Toyotmap"
            android:exported="false" />
        <activity
            android:name=".BMWPage"
            android:exported="false" />
        <activity
            android:name=".SShow"
            android:exported="false" />
        <activity
            android:name=".BMWActivity"
            android:exported="false" />
        <activity
            android:name=".Ssyaong"
            android:exported="false" />
        <activity
            android:name=".Toyota"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".registrationScreen"
            android:exported="false" />
        <activity
            android:name=".mainScreen"
            android:exported="false" />
        <activity
            android:name=".MainHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>